{% extends 'main.html' %}
{% block content %}
    {% if request.user.is_authenticated%}
    <br>
    <a class="btn btn-primary" href="#" role="button">Direção</a>
    <a class="btn btn-primary" href="{% url 'list_docente' %}" role="button">Docente</a>
    <a class="btn btn-primary" href="{% url 'list_aluno' %}" role="button">Aluno(a)</a>
    <a class="btn btn-primary" href="{% url 'list_disciplina' %}" role="button">Disciplina</a>
    <a class="btn btn-primary" href="#" role="button">Turma</a>
    {%else%}
    Voce não tem acesso a essa area
    {%endif%}

{% endblock content %}