{% extends 'main.html' %}

{% block content %}
<h4>Disciplina
    &nbsp;|&nbsp;
    <a href="{% url 'create_disciplina' %}"> Incluir</a>
    </h4>

    <form method="GET" action="{% url 'pesquisar' %}">
        <input type="text" name="q" placeholder="Pesquisar...">
        <button type="submit">Pesquisar</button>
    </form>
    {% if query %}    
        {% if resultados %}
            <h2>Resultados para "{{ query }}":</h2>
            <ul>
                {% for disciplina in resultados %}
                    <li>
                        {{disciplina.nome}}
                        &nbsp;|&nbsp;
                        {{disciplina.data_criacao}}
                        &nbsp;|&nbsp;
                        <a href="{% url 'disciplina_update' disciplina.id %}"> Editar</a>
        
                        &nbsp;|&nbsp;
                        <a href="{% url 'disciplina_delete' disciplina.id %}"> Excluir</a>
                    </li>

                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhum resultado encontrado para "{{ query }}".</p>
        {% endif %}
    {% endif %}
    <ul>
        {% for disciplina in disciplinas %}
            <li>
                {{disciplina.nome}}
                &nbsp;|&nbsp;
                {{disciplina.data_criacao}}
                &nbsp;|&nbsp;
                <a href="{% url 'disciplina_update' disciplina.id %}"> Editar</a>

                &nbsp;|&nbsp;
                <a href="{% url 'disciplina_delete' disciplina.id %}"> Excluir</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
