{% extends 'main.html' %}

{% block content %}
<div class="col-6 mt-4 m-auto padding 20%" style="justify-content: center; background-color: gainsboro; ">
        <h4 style="margin-left: 10px;"> -Docente- 
        &nbsp;|&nbsp;
        <a href="{% url 'create_docente' %}"> Incluir</a>
        <br>
        <form method="GET" action="{% url 'pesquisar_docente' %}" style="padding: 20px;">
            <input type="text" name="q" placeholder="Pesquisar..." style="height: 40px; width: 70%;">
            <button type="submit" style="height:40px; width: 20%;" class="btn btn-primary">Pesquisar</button>
        </form>
        {% if query %}    
            {% if resultados %}
                <h2>- Resultados para "{{ query }}":</h2>
                <ul style="list-style: none;">
                    {% for docente in resultados %}
                        <li>
                            {{docente.nome}}
                            &nbsp;|&nbsp;
                            {{docente.cpf}}
                            &nbsp;|&nbsp;
                            {{docente.data_nascimento}}
                            &nbsp;|&nbsp;
                            <a href="{% url 'docente_update' docente.id %}"> Editar</a>
            
                            &nbsp;|&nbsp;
                            <a href="{% url 'docente_delete' docente.id %}"> Excluir</a>
                        </li>

                    {% endfor %}
                </ul>
            {% else %}
                <h4 style="margin-top: 20px;"><strong>Nenhum resultado encontrado para "{{ query }}".</strong></h4>
            {% endif %}
        {% endif %}
        <ul style="list-style: none; font-size: large;" >
            {% for docente in docentes %}
                <li>-
                    {{docente.nome}}
                    &nbsp;|&nbsp;
                    {{docente.cpf}}
                    &nbsp;|&nbsp;
                    {{docente.data_nascimento}}
                    &nbsp;|&nbsp;
                    <a href="{% url 'docente_update' docente.id %}"> Editar</a>

                    &nbsp;|&nbsp;
                    <a href="{% url 'docente_delete' docente.id %}"> Excluir</a>
                </li>
            {% endfor %}
        </ul>
</div>
{% endblock %}
